<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-flag-o"></i>

    {{#newTasks}}
    <span class="label label-danger">{{newTasks}}</span>
    {{/newTasks}}

</a>
<ul class="dropdown-menu">
    <li class="header">You have {{total}}{{^total}}0{{/total}} tasks</li>
    <li>
        <!-- inner menu: contains the actual data -->
        <ul class="menu">
            {{#Tasks}}
            <li><!-- Task item -->
                <a href="#">
                    <h3>
                        {{task}}
                        <small class="pull-right">{{progress}}%</small>
                    </h3>
                    <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0"
                             aria-valuemax="100">
                            <span class="sr-only">{{progress}}% Complete</span>
                        </div>
                    </div>
                </a>
            </li>
            <!-- end task item -->
            {{/Tasks}}

        </ul>
    </li>
    <li class="footer">
        <a href="#">View all tasks</a>
    </li>
</ul>
