<!-- DIRECT CHAT SUCCESS -->
<div class="box-header with-border">
    <h3 class="box-title">Direct Chat</h3>

    <div class="box-tools pull-right">
        {{#NewMessages}}
            <span data-toggle="tooltip" title="" class="badge bg-green refresh-btn"
                  data-original-title="New Messages">{{NewMessages}}</span>
        {{/NewMessages}}
    </div>
</div>

<!-- /.box-header -->
<div class="box-body">
    <!-- Conversations are loaded here -->
    <div id="messages" class="direct-chat-messages">
        {{^Messages}}
            <p>Start a conversation!</p>
        {{/Messages}}
        {{#Messages}}
            {{^me}}
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-left">{{first_name}}</span>
                        <span class="direct-chat-timestamp pull-right">{{creation_date}}</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="{{user_profile_picture}}" alt="Message User Image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">{{message}}</div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
            {{/me}}
            {{#me}}
                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                    <div class="direct-chat-info clearfix">
                        <span class="direct-chat-name pull-right">{{first_name}}</span>
                        <span class="direct-chat-timestamp pull-left">{{creation_date}}</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" src="{{user_profile_picture}}" alt="Message User Image">
                    <!-- /.direct-chat-img -->
                    <div class="direct-chat-text">{{message}}</div>
                    <!-- /.direct-chat-text -->
                </div>
            {{/me}}
        {{/Messages}}

        <!-- /.direct-chat-msg -->
    </div>
    <!--/.direct-chat-messages-->

    <!-- Contacts are loaded here -->
    <div class="direct-chat-contacts">
        <ul class="contacts-list">
            <li>
                {{#user}}
                    <a href="{{user_profile_uri}}">
                        <img class="contacts-list-img" src="{{user_profile_picture}}" alt="User Image">
                        <div class="contacts-list-info">
                            <span class="contacts-list-name">
                                {{user full name}}
                                <small class="contacts-list-date pull-right">{{lastMessageDate}}</small>
                            </span>
                            <span class="contacts-list-msg">{{#lastMessage}}{{#You}}
                                You: {{/You}}{{lastMessage}}{{/lastMessage}}</span>
                        </div>
                        <!-- /.contacts-list-info -->
                    </a>
                {{/user}}
            </li>
            <!-- End Contact Item -->
        </ul>
        <!-- /.contatcts-list -->
    </div>
    <!-- /.direct-chat-pane -->
</div>
<!-- /.box-body -->

<div class="box-footer">
    <form data-hbs method="post" action="https://Stats.Coach/Messages/{{to_User}}/">
        <div class="input-group">
            <input name="message" placeholder="Type Message ..." class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-success btn-flat" type="submit">Send</button>
            </span>
        </div>
    </form>
</div>

<!-- /.box-footer-->